# Minecraft server
MC_VERSION=1.21.1
MC_MEMORY=2G
MC_PORT=25565

# InfluxDB
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=change_me_strong_password
INFLUXDB_INIT_ORG=craft-metrics
INFLUXDB_INIT_BUCKET=minecraft
INFLUXDB_INIT_ADMIN_TOKEN=change_me_generate_a_token
INFLUXDB_PORT=8086

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_strong_password
GRAFANA_PORT=3000
